UntitledSpaceGame/Unititled Space Game/Library*
/UntitledSpaceGame/Unititled Space Game/.vs/Unititled Space Game/v15/Server/sqlite3/db.lock
/UntitledSpaceGame/Unititled Space Game/.vs/Unititled Space Game/v15/Server/sqlite3
/UntitledSpaceGame/Unititled Space Game/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/7e699533dcd4ea30
/UntitledSpaceGame/Unititled Space Game/ConsoleApplication1/.vs/ConsoleApplication1/v15
/UntitledSpaceGame/Unititled Space Game/Temp
UntitledSpaceGame/Unititled Space Game/Assembly-CSharp.csproj